* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PianPian';
    src: url('../fonts/pianpian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'DFMingW4';
    src: url('../fonts/wenzengming.TTF') format('truetype');  /* 使用 TTF 格式 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFHei';
    src: url('../fonts/tsuhei.ttc');  /* 使用華康粗黑體 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFLiuFong';
    src: url('../fonts/liufong.ttc');  /* 使用華康流風體 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFRFeng';
    src: url('../fonts/rfeng.ttc');  /* 使用華康兒風體 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFLiSu';
    src: url('../fonts/lisu.ttc');  /* 使用華康隸書體，用小寫 ttc */
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    background-image: url(/images/backpic\ modified.png), url(/images/backpic2.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-size: 100vw auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    overflow-x: hidden;
}

/* Base styles */
a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
}
.logo-spin {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) ; 
      }
      100% {
        transform: rotate(360deg) ; 
      }
}
#music-animation {
    width: 32.5px;
    height: 32.5px;
    cursor: pointer;
}
.information{
    display: flex;
}
#progress{
    border: solid 2px #fff;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #722F37;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 5px 5px rgb(255,25,25,0.25);
}
/* Navbar */
.navbar {
    background-color: #722F37;  /* 酒紅色 */
    padding: 1rem;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    max-width: 1100px;
    margin: auto;
    padding: 0 0.5rem;
}

.navbar .logo img {
    width: 60px;
    height: auto;
}
.navbar .main-menu ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.15rem;
    align-items: center;
}

.navbar ul li a {
    padding: 0rem 0.6rem;
    display: block;
    /* 加深字體粗細 */
    font-weight: 800;
    transition: 0.5s;
    color: #fff;
}

.search-item{
    margin-left: 1rem;
}
/* Dropdown */
.main-menu .li a{
    margin-bottom: 5px;
    padding: 100px;
}
.dropbtn {
    color:#fff;
    border: none;
    border-width: 0;
    /* border-top: 3px solid ; */
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: #722F37;
    outline: 0;
    color: #F5E6E8;  /* 淺粉白色 */
    /* 加深字體粗細 */
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.dropdown {
    border: none;
    color:#fff;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color:#fff;
    display: none;
    font-weight: 600;
    position: absolute;
    background-color: #722F37;
    margin-top: 1px;
    font-size: large;
    padding: 7.5px 0.5px;
    min-width: 140px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border: 1px solid #D4A9AF;  /* 淺玫瑰色邊框 */
}
.dropbtn::before{
    border: none;
    color:#fff;
    content: '';
    position: absolute;
    top: 0;
    left: 50%; /* 先设置到左边的 50% */
    transform: translateX(-50%); /* 使用 transform 将元素居中 */
    width: 80%;
    display: flex;
    gap: 1rem;
    display: inline-block;
    transition: 0.3s;
}
.dropdown-content a {
    border: none;
    color: #fff;
    padding: 1rem 1rem;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    margin: 0.5rem 0; /* 添加间距 */
    transition: all 0.3s ease;
}
.dropdown-content a:hover {
    border: none;
    color:#fff;
    background-color: #9b3f48; /* 更浅的背景色用于悬停 */
    box-shadow: 0 0 5px #fff; /* 添加发光效果 */
}

.dropdown:hover .dropdown-content {
    border: none;
    color:#fff;
    display: block;
}

.dropdown:hover .dropbtn {
    border: none;
    color:#fff;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff; /* 添加文字发光效果 */
}
.dropdown-content a::before{
    border: none;
}
/* search */
.search_container {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.search {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #f6f6f6;
    transition: all 0.3s ease;
}

.search:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.search.focused {
    transform: scale(1.05);
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search_input {
    font-size: 14px;
    color: #333;
    margin-left: 8px;
    outline: none;
    border: none;
    background: transparent;
    width: 150px;
    transition: all 0.3s ease;
}

@keyframes searchFocusAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.search dotlottie-player {
    width: 30px !important;
    height: 30px !important;
}
.search-icon{
    animation: none;
}
.search_input::placeholder,
.search_icon{
    color: rgba(0, 0, 0, 0.5);
}

.search.unfocusing {
    animation: searchUnfocusAnimation 0.3s forwards;
}

@keyframes searchUnfocusAnimation {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
#instagram-animation {
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#youtube-animation {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* slider */
.slider-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(3, 15, 31);
    background-image: radial-gradient(
        circle at top center,
        rgb(24,48,107) 0%,
        rgb(3,15,31) 70%
    );
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: -1;  
}

.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    overflow: hidden;
}
.slide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    aspect-ratio: 3/4;
    border-radius: 20px;
    transition: all 0.8s ease;
    pointer-events: none;
    user-select: none;
}
.slide.active{
    box-shadow: 10px 10px 50px 0 rgba(60,60,66,0.6);
}
.slide::after{
    content="";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 86, 91, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgb(255,225,225,0.3);
    border-radius: inherit;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.slide.active::after{
    opacity: 1;
}
.slide img{
    border-radius: inherit;
    border: 4px solid rgb(255,225,225,0.3);
}

.slide p{
    position: absolute;
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    transform: translateY(0);
    z-index: 2;
    opacity: 1;
}
.slide.active p{
    animation: popup 0.8s ease-in-out forwards;
}
@keyframes popup{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform:  translateY(-20px);
        opacity: 1;
    }
}
.control{
    position: absolute;
    top: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    font-size: 2.25rem;
    color: #6cfa84;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: transparent;
    background-image: radial-gradient(
        50% 115% at 50% -5%,
        rgba(225,225,225,0.11) 0%,
        transparent 100%
    );
    box-shadow: inset 0 0 10px 0 rgba(225,225,225,0.15),
    inset 0 5px 10px 0 rgba(225,225,225,0.1),
    inset 0 2px 5px 0 rgba(225,225,225,0.4),
    inset 0 3px 20px 0 rgba(0,0,0,0.25);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    animation: changecolor 2s ease-in infinite,changesize 1.5s linear;
    will-change: transform;
}
@keyframes changecolor{
    0%,100%{
        color: #6cfa84;
    }
    50%{
        color: #a9aabc;
    }
}
@keyframes changesize{
    0%,100%{
        transform:  translateY(-50%) scale(1);
    }
    50%{
        transform:  translateY(-50%) scale(1.1);
    }
}
.control:hover{
    background-color: rgba(225,225,225,0.05);
    animation: none;
}

.control.prev{
    left: 25%;
    transform: rotate(0deg) translateY(-50%) scale(1);
}
.control.next{
    right: 25%;
    transform: rotate(0deg) translateY(-50%) scale(1);
}

.control.prev:not([disabled]):hover{
    transform: rotate(-15deg) translateY(-50%) scale(1.2);
}

.control.next:not([disabled]):hover{
    transform: rotate(15deg) translateY(-50%) scale(1.2);
}
.control.prev:is([disabled]),
.control.next:is([disabled]){
    animation: none;
}

@media (max-width:980px){
    .slide p{
        font-size: 1.5rem;
    }
    .control.prev{
        left: 15%;
    }
    .control.next{
        right: 15%;
    }
}
@media (max-width:700px){
    .slide{
        width: 260px;
    }
    .slide p{
        font-size: 1.25rem;
    }
    .control{
        width: 40px;
        font-size: 1.8rem;
    }
}
@media (max-width:560px){
    .slide{
        width: 220px;
    }
    .slide p{
        font-size: 1.1rem;
    }
    .control{
        font-size: 1.5rem;
    }
    .control.prev{
        left: 5%;
    }
    .control.next{
        right: 5%;
    }
}