* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PianPian';
    src: url('../fonts/pianpian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Noto Serif TC", serif;
    src: url('../fonts/wenzengming.TTF') format('truetype');  /* 使用 TTF 格式 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFHei';
    src: url('../fonts/tsuhei.ttc');  /* 使用華康粗黑體 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFLiuFong';
    src: url('../fonts/liufong.ttc');  /* 使用華康流風體 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFRFeng';
    src: url('../fonts/rfeng.ttc');  /* 使用華康兒風體 */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DFLiSu';
    src: url('../fonts/lisu.ttc');  /* 使用華康隸書體，用小寫 ttc */
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}
html, body {
    overflow-x: hidden;
}
body {
    background-image: url(../images/backpic\ modified.png), url(../images/backpic2.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-size: 100% auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    overflow-x: hidden;
}

/* Base styles */
a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}


.logo {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
}
.logo-spin {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) ; 
      }
      100% {
        transform: rotate(360deg) ; 
      }
}
#music-animation {
    width: 32.5px;
    height: 32.5px;
    cursor: pointer;
}
.information{
    display: flex;
}
#progress{
    border: solid 2px #fff;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #753533;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 5px 5px rgb(255,25,25,0.25);
}
/* Navbar */
.navbar {
    background-color: #753533;  /* 酒紅色 */
    /* padding: 1rem; */
    width: 100%;
    height: auto;
    top: 0;
    z-index: 1;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    max-width: 1100px;
    margin: auto;
    padding: 0 0.5rem;
}

.navbar .logo img {
    z-index: 100;
    width: 60px;
    height: auto;
}
.navbar .main-menu ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.15rem;
    align-items: center;
}

.navbar ul li a {
    padding: 0rem 0.6rem;
    display: block;
    /* 加深字體粗細 */
    font-weight: 800;
    transition: 0.5s;
    color: #fff;
    z-index: 10;
}

.search-item{
    margin-left: 1rem;
}
/* Dropdown */
.main-menu .li a{
    margin-bottom: 5px;
    padding: 100px;
}
.dropbtn {
    color:#fff;
    border: none;
    border-width: 0;
    /* border-top: 3px solid ; */
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: #753533;
    outline: 0;
    color: #F5E6E8;  /* 淺粉白色 */
    /* 加深字體粗細 */
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.dropdown {
    border: none;
    color:#fff;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color:#fff;
    display: none;
    font-weight: 600;
    position: absolute;
    background-color: #753533;
    margin-top: 1px;
    font-size: large;
    padding: 7.5px 0.5px;
    min-width: 140px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border: 1px solid #D4A9AF;  /* 淺玫瑰色邊框 */
}
.dropbtn::before{
    border: none;
    color:#fff;
    content: '';
    position: absolute;
    top: 0;
    left: 50%; /* 先设置到左边的 50% */
    transform: translateX(-50%); /* 使用 transform 将元素居中 */
    width: 80%;
    display: flex;
    gap: 1rem;
    display: inline-block;
    transition: 0.3s;
}
.dropdown-content a {
    border: none;
    color: #fff;
    padding: 1rem 1rem;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    margin: 0.5rem 0; /* 添加间距 */
    transition: all 0.3s ease;
}
.dropdown-content a:hover {
    border: none;
    color:#fff;
    background-color: #9b3f48; /* 更浅的背景色用于悬停 */
    box-shadow: 0 0 5px #fff; /* 添加发光效果 */
}

.dropdown:hover .dropdown-content {
    border: none;
    color:#fff;
    display: block;
}

.dropdown:hover .dropbtn {
    border: none;
    color:#fff;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff; /* 添加文字发光效果 */
}
.dropdown-content a::before{
    border: none;
}
/* 鼠标停选项时，伪元素效果 */

/* Hero Section */
.hero {
    margin-bottom: 3rem;
}

.hero .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
    min-height: 300px;
    z-index: -11;
}

.hero-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, #e8dedf, #5e3c3f, #7a5559, #ab8f91);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear
        infinite;
}

.hero-texting {
    width: 90%;
    max-width: 500px;
    padding: 1rem;
    padding-top: -100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A1D21;
    font-size: clamp(2rem, 7vw, 2rem);
    font-weight: 1000;
    font-family: 'DFMingW4', "PMingLiU", "新細明體", serif;  /* 改用文徵明體 */
    background-color: #D4A9AF;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

.hero-texting::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #431116, #ab8f91, #f4f4f6);
    z-index: -1;
    border-radius: 15px;
    background-size: 300%;
    animation: borderRotate 3s linear infinite;
}

.hero-texting::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, #4A1D21, #ab8f91, #b25892, #4A1D21);
    z-index: -2;
    filter: blur(15px);
    border-radius: 17px;
    background-size: 300%;
    animation: borderRotate 3s linear infinite;
    opacity: 0.5;
}

@keyframes borderRotate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.date {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    width: 90%;
    max-width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: clamp(1.5rem, 7vw, 1.5rem);
    align-items: center;
    padding-top: 1rem;
    margin: 0 auto;
    background: linear-gradient(to right , #63a8d5 , #81aae0 , #75add2 , #b132b7 , #d6a4e4 ,  #81aae0 );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear
        infinite;
    font-weight: 600;
    text-shadow: 1px 1px #F5E6E8;
}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

/* Idea Section */


/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: rgb(225, 225, 64);
    color: #333;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-dark {
    background-color: rgb(225, 225, 64);
    color: #000;
}

.text-xxl {
    font-family: 'PianPian', serif;  /* 從 "Sour Gummy" 改為 'PianPian' */
    font-optical-sizing: auto;
    font-weight: normal;  /* 從 weight 改為 normal */
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: clamp(8rem, 7vw, 4rem);
    line-height: 1.2;
    color: #F5E6E8;
    text-align: center;
    text-shadow: 3px 3px #4A1D21;
    margin: 10rem 0 3rem 0;
    margin-top:50px;
    position: relative;
}
/* Media Queries */
/* @media screen and (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar .main-menu ul {
        justify-content: center;
    }

    .dropdown-content {
        position: static;
        width: 100%;
    }

    .timetable .present h2 {
        padding-left: 0;
    }

    .timetable .present .p1,
    .timetable .present .p2 {
        margin-left: 0;
    }

    .search-item {
        margin-left: 0;
        width: 100%;
        margin-top: 1rem;
    }
    
    .search {
        width: 100%;
    }
    
    .search_input {
        width: 100%;
    }
} */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 0 2rem;
    }
}

/* Animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* search */
.search_container {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.search {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #f6f6f6;
    transition: all 0.3s ease;
}

.search:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.search.focused {
    transform: scale(1.05);
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.search_input {
    font-size: 14px;
    color: #333;
    margin-left: 8px;
    outline: none;
    border: none;
    background: transparent;
    width: 150px;
    transition: all 0.3s ease;
}

@keyframes searchFocusAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.search dotlottie-player {
    width: 30px !important;
    height: 30px !important;
}
.search-icon{
    animation: none;
}
.search_input::placeholder,
.search_icon{
    color: rgba(0, 0, 0, 0.5);
}

.search.unfocusing {
    animation: searchUnfocusAnimation 0.3s forwards;
}

@keyframes searchUnfocusAnimation {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-container {
    position: relative;
    max-width: 60%;
    max-height: 80vh;
    transform: rotate(-5deg);
    transition: transform 0.3s ease;
}

.popup-container:hover {
    transform: rotate(0deg);
}

.popup-container img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    color: #F5E6E8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}
.hidden {
    display: none;
}

#instagram-animation {
    width: 45px;
    height: 45px;
    cursor: pointer;
}
#youtube-animation {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* carousel */
.carousel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 10rem;
    overflow: hidden;
}
.carousel{
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    position:relative;
    border-radius: 45px;
    border: solid 2px #753533;
}
.carousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    left: 50%;
    max-width: 80%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .title{
    font-weight: bold;
    font-size: 1.5rem;
    color: #753533;
}
.carousel .list .item .content .backinfo{
    font-weight: bold;
    font-size: 1.25rem;
    color: #753533;
}
/* thumbnail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 60%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.thumbnail .item{
    width: 220px;
    height: 150px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: bold;
}
/* arrows */
.arrows {
    position: absolute;
    top: 85%;
    right: 57%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 30px;
    align-items: center;
    z-index: 10;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(238, 238, 238, 0.4); /* Semi-transparent gray */
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.1s, color 0.1s; /* Ensure smooth hover effect */
    box-shadow:  0 0 10px #ffffff;
}
.arrows button:hover {
    color: #555;
    background-color: #eee; /* Solid gray when hovered */
}

.carousel .list .item:nth-child(1){
    z-index: 1;
}
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .backinfo {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s ease 1 forwards;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .list .item:nth-child(1) .title{
    animation-delay: 1.3s;
}
.carousel .list .item:nth-child(1) .backinfo{
    animation-delay: 1.5s;
}

.carousel.next .list .item:nth-child(1) img{
    width: 220px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s ease 1 forwards;
}
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s ease 1 forwards;
}
@keyframes showThumbnail{
    to{
       width: 220px;
    }
}
.carousel.next .thumbnail{
    transform:  translateX(220px);
    animation: transformThumbnail 0.5s ease 1 forwards;
}
@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}
/* effect prev */
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s ease 1 forwards;
}
@keyframes outImage{
    to{
        width: 220px;
        height: 150px;
        border-radius: 20px;
        left: 60%;
        bottom: 50px;
    }
}
.carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s ease 1 forwards;
}
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .backinfo {
    animation: contentOut 0.5s linear 1 forwards;
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@keyframes contentOut {
    from {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.time{
    width: 100%;
    height: 3px;
    background-color: #753533;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: timeRunning 2s ease 1 forwards;
}
@keyframes timeRunning{
    to{
        width: 0;
    }
}
@media screen and (max-width: 678px){
    .carousel .list .item .content{
        padding-right: 0;
    }
}
.swiper-container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 20rem;
    padding-bottom: 20rem;
    box-sizing: border-box;
}
.swiper-pagination {
    background-color: transparent;
    color: #000;
}
.swiper-container-wrapper--timeline .swiper-slide {
  display: flex;
  min-height: 500px;
  height: 700px;
  background-image: url(/victorian-cynosure/images/backpic.jpg);
  background-size: cover;
  border-radius: 30px;
}

.swiper-container-wrapper--timeline .swiper-slide .container {
  width: 100%;
}

.swiper-container-wrapper--timeline .swiper-slide .title {
  font-family: 'PianPian';
  font-size: 18px;
  color:#fff;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}

.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
  position: relative;
  margin-bottom: 70px;
  border-bottom: 1px solid #753533;
  background-color: transparent;
  height: 4px;
  top: 15px;
  border: none;
  width: 75%;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background: #753533 !important;
  height: 3px;
  top: 2px;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: 2px;
  left: -100%;
  width: 100%;
  height: 3px;
  content: "";
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  content: "";
}

.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 100%;
  display: flex;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
  position: absolute;
  font-weight: 400;
  right: 0;
  transform: translateX(50%);
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
  position: absolute;
  top: calc(100% + 7.5px);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 12px;
  height: 12px;
  background: #753533;
  border-radius: 2rem;
  content: "";
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  font-weight: 400;
  transition-delay: 0.4s;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #722;
  width: 20px;
  height: 20px;
  transition-delay: 0.4s;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: #888;
  font-weight: 16px;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
    position: absolute;
    font-weight: 400;
    right: 0;
    transform: translateX(50%);
    transition: 0.3s all ease-in-out;
    font-size: 16px; 
    cursor: pointer;
    z-index: 1;
  }
  
  .swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
    font-weight: 600;
    transform: translateX(50%) scale(1.5);
    color: #753533;
    transition-delay: 0.1s;
  }
  .swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
    transition: 0.3s all ease-in-out;
  }
  .swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.approaching {
    transform: scale(1.1);
  }
  /* .navbar::before{
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,.1);
    backdrop-filter: blur(50px);
  } */
  @media screen and (max-width: 768px) {
    .popup-overlay {
      display: none !important;  /* Force hide the overlay */
    }
    
    /* If you also want to hide the container */
    .popup-container {
      display: none !important;
    }
    .control-music{
        display: none !important;
    }
    .search-item{
        display: none !important;
    }
  }
  #check{
    display: none;
  }
  .close-icon{
    top: 1.5%;
    right: 3%;
    position: absolute;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  @media (max-width:768px){
    .logo{
        width: 60px;
        height: 60px;
        margin-left: 0;
        margin-right: auto;
    }
    #check:checked~.close-icon #menu-list{
        display: none;
    }
    #check:checked~.close-icon #close-menu{
        display:block;
    }
    .navbar ul li a {
        padding: 0rem ;
    }
    .navbar .logo img {
        width: 40px !important;
        height: auto;
    }
    .container{
        height: 60px;
    }
    .hero-texting{
        display: none !important;
    }
    .date{
         display: none;
    }
    .close-icon{
        display: inline-flex;
    }
    .dropbtn{
        padding: 0 !important;
        margin: 0;
        text-align: start !important;
        height: auto;
        width: auto;
        background-color: transparent !important; 
    }
    .dropbtn:hover{
        transform: none !important; 
    }
    .dropbtn:hover::before {
        left: 0;
        transform: none !important; 
        width: 100%; 
    }
    .dropbtn::before{
        left: 0 !important;
        transform: none !important;
    }
    .main-menu{
        position: absolute;
        top:60px;
        left: 0;
        width: 100%;
        height: 0rem;
        background: rgba(114, 47, 55, 0.8); 
        backdrop-filter: blur(50px) !important;
        -webkit-backdrop-filter: blur(50px);
        z-index: 1000;
        overflow: hidden;
        transition: .3s ease;
    }
    .close-icon #close-menu{
        display: none;
    }
    #check:checked~.main-menu{
        height: 13rem;
        overflow: visible;
    }
    .main-menu ul{
        padding: 5px;
        display: block !important;
        
    }
    .main-menu ul li{
        margin: 1rem 0.5em !important;
    }
    .text-xxl{
        margin-top: 0.25em;
        font-size: clamp(3rem, 8vw, 4rem);
        height: 100px !important;
        width: auto;
    }
    .hero-texting{
        font-size: clamp(3rem, 8vw, 4rem);
    }
    .hero .container{
        min-height: 150px;
        padding: 0;
    }
    .hero-content{
        height: 150px;
        padding: 0;
    }
    #instagram-animation {
        width: 50px;
        height: 50px;
    }
    .main-menu ul li:nth-child(3),
    .main-menu ul li:nth-child(4),
    .main-menu ul li:nth-child(5) {
    display: inline-block;
    margin-right: 1rem; /* Space between icons */
    }
    .date{
        font-size: clamp(1rem, 4vw, 1.5rem);
    }
    .hero-texting{
        margin:0 auto;
        font-size: clamp(1rem, 7vw, 1rem);
    }
    .carousel .list .item .content{
        top: 10%;
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-weight: bold;
        font-size: 1rem;
        color: #753533;
    }
    .carousel .list .item .content .backinfo{
        font-weight: bold;
        font-size: 0.8rem;
        color: #753533;
    }
    .carousel-container{
        width: 100%; 
        margin-top: 2rem;
        height: 450px;
    }
    .carousel{
        width: 90%;
        height: 400px;
    }
    .thumbnail{
        position: absolute;
        bottom: 10px;
        left: 60%;
        width: max-content;
        z-index: 100;
        display: flex;
        gap: 20px;
    }
    .thumbnail .item{
        width: 110px;
        height: 75px;
        flex-shrink: 0;
        position: relative;
    }
    @keyframes outImage{
        to{
            width: 110px;
            height: 75px;
            border-radius: 20px;
            left: 60%;
            bottom: 10px;
        }
    }
    @keyframes showThumbnail{
        to{
           width: 110px;
        }
    }
    .thumbnail{
        overflow-x: hidden;
    }
    img{
        overflow: hidden;
    }
    .item{
        overflow: hidden;
    }
    .carousel-container{
        overflow: hidden;
    }
}
